ody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
   background-color: lightcyan;
    background-size: cover;
    background-position: center;
    color: white;
    height: 250px;
    position: relative;
}
header nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
header .nav-pills .nav-link {
    background-color: #0dfd95;
    color: black;
    font-weight: 500;
    font-size: 0.95rem;
}
header .nav-pills .nav-link.active {
    background-color: black;
    color: #0dfd95;
}

.landing-icon {
    font-size: 3rem;
    color: #0dfd95;
}
.landing-button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

